<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/contact.css">
  <title>TRANSPORT</title>
</head>
<body>
  <div class="contact-section">
  <!-- Call Button -->

  
  <br> <!-- Line break to ensure the Facebook button is on a new line -->

  <!-- Facebook Logo Button -->
  <a href="" target="_blank" class="facebook-button">
    <img src="static/img/fblogo.png" alt="Facebook" class="facebook-logo">
  </a>
</div>
<a href="" target="_blank" class="whatsapp-button">
    <img src="static/img/walogo.png" alt="Whatsapp" class="whatsapp-logo">
  </a>
</div>
</body>
</html>
